# Project exclude paths
/out/
/src/main/java/github/log4jexploit/crunchytoast/github.log4jexploit.crunchytoast.Start.java
/blacklist.txt
/resources/
/certificates/
/.idea/
/target/
/crunchytoast.iml
/CrunchyToast.iml
/src/main/java/github/log4jexploit/crunchytoast/Main.java
/mimes.txt
/src/test/java/github/log4jexploit/crunchytoast/Start.java
/src/test/java/github/log4jexploit/crunchytoast/LoadTester.java
/artifacts/
